body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* AntD overrides if necessary */
.ant-layout-header {
  box-shadow: 0 1px 4px rgba(0,21,41,0.08);
  z-index: 10;
}

/* Import Row Highlighting */
.row-warning {
  background-color: #fffbe6 !important;
}

.row-error {
  background-color: #fff1f0 !important;
}

.row-warning:hover > td, .row-error:hover > td {
  background-color: inherit !important;
  filter: brightness(0.95);
}